node_modules
dist
build
coverage
.next
.turbo
.cache
.vite
.pnpm-store
pnpm-lock.yaml

apps/backend/node_modules
apps/backend/dist
apps/backend/coverage

apps/frontend/node_modules
apps/frontend/dist

apps/geoserver
apps/mapproxy

docker-compose.yml
