MEDIAMTX_API_URL='http://localhost:19997'
MEDIAMTX_PLAYBACK_URL='http://localhost:19996'
MEDIAMTX_HLS_URL='http://localhost:18888'
STORAGE_BASE_URL='http://localhost:3000/static'
DB_PORT='5432'
DB_USERNAME='magenim'
DB_PASSWORD='magenim'
DB_NAME='wonderland'
RECORDINGS_PATH='/recordings'
MEDIAMTX_FORCE_H264_TRANSCODE='true'
MEDIAMTX_FORCE_H264_LOW_STREAMS='false'
MEDIAMTX_RTSP_BASE_URL='rtsp://localhost:18554'
MEDIAMTX_FFMPEG_BIN='ffmpeg'
MEDIAMTX_FFMPEG_PRESET='ultrafast'
MEDIAMTX_FFMPEG_THREADS='2'


# MEDIAMTX_API_URL='http://51.84.169.201:19997'
# MEDIAMTX_PLAYBACK_URL='http://51.84.169.201:19996'
# MEDIAMTX_HLS_URL='http://51.84.169.201:18888'
# STORAGE_BASE_URL='http://localhost:3000/static'
# DB_PORT='5432'
# DB_USERNAME='magenim'
# DB_PASSWORD='magenim'
# DB_NAME='wonderland'
# RECORDINGS_PATH='/recordings'
# MEDIAMTX_FORCE_H264_TRANSCODE='false'
# MEDIAMTX_FORCE_H264_LOW_STREAMS='false'
# MEDIAMTX_RTSP_BASE_URL='rtsp://localhost:18554'
# MEDIAMTX_FFMPEG_BIN='ffmpeg'
# MEDIAMTX_FFMPEG_PRESET='ultrafast'
# MEDIAMTX_FFMPEG_THREADS='2'
