MEDIAMTX_API_URL='http://localhost:9997'
MEDIAMTX_PLAYBACK_URL='http://localhost:9996'
MEDIAMTX_HLS_URL='http://localhost:8888'
STORAGE_BASE_URL='http://localhost:3001/static'
DB_PORT='5435'
DB_USERNAME='admin'
DB_PASSWORD='admin'
DB_NAME='wonderland'
RECORDINGS_PATH='/recordings'
PORT=3001
